{% extends "base.html" %}

{% block "title" %}Resetar Senha | FreelaWay{% endblock %}

{% block "body" %}
  <div class="flex justify-center items-center max-w-[520px] m-auto">
    <form action="{% url 'password_reset' %}" method="POST">{% csrf_token %}
      {{form}}
      <input
        type="submit"
        value="Recuperar"
        class="px-1 py-1 text-white bg-blue-600 rounded-lg hover:bg-blue-800"
      />
      {% if form.errors %}
        {{form.errors}}
      {% endif %}
    </form>
  </div>
{% endblock %}
