<!DOCTYPE html>
<html lang="pt-BR" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        darkMode: "class",
        content: [
          "./pages/**/*.{js,ts,jsx,tsx}",
          "./components/**/*.{js,ts,jsx,tsx}",
        ],
      };
    </script>
    <style type="text/tailwindcss">
      @layer base {
        body {
          @apply bg-gray-50 
            dark:bg-gray-900 
            text-black/90 
            dark:text-white 
            transition-colors 
            duration-500 
            scroll-smooth
            selection:bg-blue-600/50;
        }
      }
    </style>
    <script>
      if (
        localStorage.theme === "dark" ||
        (!("theme" in localStorage) &&
          window.matchMedia("(prefers-color-scheme: dark)").matches)
      ) {
        document.documentElement.classList.add("dark");
        setTimeout(
          () =>
            (document.getElementById("Icons-Dynamic").innerText = "light_mode"),
          1
        );
      } else {
        document.documentElement.classList.remove("dark");
        setTimeout(
          () =>
            (document.getElementById("Icons-Dynamic").innerText =
              "nightlight_round"),
          1
        );
      }

      function ThemeToggle() {
        if (
          localStorage.theme === "dark" ||
          (!("theme" in localStorage) &&
            window.matchMedia("(prefers-color-scheme: dark)").matches)
        ) {
          document.documentElement.classList.remove("dark");
          localStorage.theme = "light";
          document.getElementById("Icons-Dynamic").innerText =
            "nightlight_round";
        } else if (
          localStorage.theme === "light" ||
          !("theme" in localStorage)
        ) {
          document.documentElement.classList.add("dark");
          localStorage.theme = "dark";
          document.getElementById("Icons-Dynamic").innerText = "light_mode";
        }
      }
    </script>
    {% block "head" %}{% endblock %}
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
    />
    <title>{% block "title" %}FreelaWay{% endblock %}</title>
    <link
      rel="shortcut icon"
      href="https://github.com/ShadowsS01.png"
      type="image/x-icon"
    />
    <style>
      ::-webkit-scrollbar {
        width: 5px;
        height: 5px;
      }

      ::-webkit-scrollbar-thumb {
        background: #1c1c1c;
        border: 1.8px solid #1c1c1c;
        border-radius: 100px;
      }

      ::-webkit-scrollbar-thumb:hover {
        background: #ecf4ff;
      }

      ::-webkit-scrollbar-track {
        background: #ecf4ff;
        border-radius: 100px;
        box-shadow: inset 0px 0px 0px 0px #f0f0f0;
        margin: 15px 0px;
      }
    </style>
  </head>

  <body>
    <header
      class="navbar navbar-expand-lg flex items-center fixed top-0 w-full flex-row justify-between dark:shadow-2xl shadow-xl backdrop-blur-sm dark:bg-gray-900/50 dark:shadow-blue-900/30 pt-2 pb-2 duration-300 transition-opacity ease-in-out duration-300 selection:bg-blue-600/30 dark:selection:bg-blue-600/10"
    >
      <div class="flex">
        <a href="{% url 'encontrar_jobs' %}">
          <img
            src="https://github.com/ShadowsS01.png"
            alt="Home"
            class="w-12 h-12 rounded-full cursor-pointer hover:opacity-75 dark:hover:opacity-50 duration-300"
          />
        </a>
      </div>
      <nav
        class="flex content-center items-center place-content-center space-x-1"
      >
        {% if user.is_authenticated %}
          <button
            type="button"
            class="flex items-center justify-center px-2 py-2 rounded-md bg-black/20 dark:bg-black/50 hover:bg-black/40 dark:hover:bg-black focus:ring-2 focus:ring-blue-700 duration-300"
            data-toggle="dropdown"
            data-target="#dropdown"
          >
            <span class="material-icons self-center items-center">
              account_circle
            </span>
          </button>
          <div class="btn-group">
            <div class="mt-6 -ml-40 absolute">
              <ul class="dropdown-menu" id="dropdown">
                <li>
                  <a
                    class="dropdown-item font-medium hover:bg-blue-600/20 hover:text-blue-600 duration-300"
                    href="{% url 'perfil' %}"
                    >Perfil</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item font-medium hover:bg-red-600/20 hover:text-red-600 duration-300"
                    href="{% url 'sair' %}"
                    >Sair</a
                  >
                </li>
              </ul>
            </div>
          </div>
        {% endif %}
        <button
          onClick="ThemeToggle()"
          id="themeToggle"
          class="flex items-center justify-center text-white bg-blue-600 px-2 py-2 rounded-md hover:ring hover:ring-blue-600/50 focus:ring-blue-700 dark:focus:ring-white/50 duration-500"
        >
          <span class="material-icons" id="Icons-Dynamic"></span>
        </button>
      </nav>
    </header>

    <main class="my-[100px] min-h-[500px]">
      {% block "body" %}{% endblock %}
    </main>

    <footer
      class="pt-4 border-t border-black/20 dark:border-white/10 inset-x-0 bottom-0 h-20"
    >
      <div
        class="flex flex-row justify-center items-center space-x-2 font-medium transition-colors"
      >
        <h3>
          Powered by
          <a
            href="https://github.com/ShadowsS01/"
            class="underline hover:text-blue-600 duration-300"
            target="_blank"
            rel="noopener noreferrer"
          >
            DKSHS
          </a>
        </h3>
        <a
          href="https://github.com/ShadowsS01/"
          class="hover:opacity-75 duration-300"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            src="https://github.com/ShadowsS01.png"
            alt="GitHub-DKSHS"
            class="w-7 h-7"
          />
        </a>
      </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
